/*Font Family*/

/* Roboto font */

@font-face {
  font-family: "Roboto-Black";
  src: url("./views/Fonts/Roboto-Black.woff2") format("woff2"), url("./views/Fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("./views/Fonts/Roboto-BlackItalic.woff2") format("woff2"), url("./views/Fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("./views/Fonts/Roboto-Bold.woff2") format("woff2"), url("./views/Fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("./views/Fonts/Roboto-BoldItalic.woff2") format("woff2"), url("./views/Fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("./views/Fonts/Roboto-Light.woff2") format("woff2"), url("./views/Fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Italic";
  src: url("./views/Fonts/Roboto-Italic.woff2") format("woff2"), url("./views/Fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-LightItalic";
  src: url("./views/Fonts/Roboto-LightItalic.woff2") format("woff2"), url("./views/Fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("./views/Fonts/Roboto-Medium.woff2") format("woff2"), url("./views/Fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("./views/Fonts/Roboto-MediumItalic.woff2") format("woff2"), url("./views/Fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./views/Fonts/Roboto-Regular.woff2") format("woff2"), url("./views/Fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("./views/Fonts/Roboto-Thin.woff2") format("woff2"), url("./views/Fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("./views/Fonts/Roboto-ThinItalic.woff2") format("woff2"), url("./views/Fonts/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Soleil-Bold";
  src: url("./views/Fonts/SoleilBold.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Soleil font */

@font-face {
  font-family: 'Soleil-Bold';
  src: url('./views/Fonts/Soleil-Bold.woff2') format('woff2'), url('./views/Fonts/Soleil-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Soleil-Book';
  src: url('./views/Fonts/Soleil-Book.woff2') format('woff2'), url('./views/Fonts/Soleil-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Soleil-Light';
  src: url('./views/Fonts/Soleil-Light.woff2') format('woff2'), url('./views/Fonts/Soleil-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Soleil-Regular';
  src: url('./views/Fonts/Soleil-Regular.woff2') format('woff2'), url('./views/Fonts/Soleil-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto-Regular";
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h3 {
  font-size: 20px;
  font-family: "Soleil-Bold";
}

.full-width {
  width: 100%;
}

.container {
  padding: 30px 0 0 0 !important;
  /* margin-left: "15%";
  margin-right: "15%"; */
  max-width: 70% !important;
}

.about-yourself {
  height: 100%;
  padding: 16px 24px 24px 24px;
  box-shadow: 0px 0.5px 5px 0.5px rgb(0 0 0 / 55%);
  border-radius: 10px;
  /* font-family: soleil; */
}

.about-header {
  margin-bottom: 20px;
  font-family: "Soleil-Bold";
  font-size: 15px;
}

.about-header span {
  background: #ee5050;
  padding: 10px 8px 12px 8px;
  border-radius: 6px;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-right: 10px;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 75%);
}

.about-header span svg {
  position: relative;
  top: -2px;
  font-size: 30px;
}

.about-header h3 {
  font-family: "Soleil-Bold";
  position: relative;
  top: 10px;
  left: 6px;
}

.input-form-fields .input-block {
  display: flex;
  align-items: flex-end;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.input-block .input-field {
  width: 100%;
}

.input-block form {
  width: 100%;
}

/* .input-block .input-field svg {
  color: red;
} */

.input-field label, .input-label {
  font-size: 14px !important;
  color: black !important;
  font-family: "Roboto-Regular" !important;
}

.input-block .MuiInputAdornment-positionEnd {
  position: absolute;
  right: 0;
  color: rgb(0 0 0 / 50%);
  /* font-size: 20px;
  bottom: 6px; */
}

.input-block .MuiInputBase-input {
  font-size: 14px !important;
  font-family: "Roboto-Regular";
}

.MuiInput-underline:before {
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.42) !important;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

.p-t-16 {
  padding-top: 16px;
}

.p-0 {
  padding: 0px !important;
}

.gender-block {
  /* padding-top: 16px; */
  align-items: center !important;
}

.gender-block label {
  margin-right: 20px;
  margin-bottom: 0;
}

.gender ul {
  display: flex;
  align-items: center;
}

.gender ul li {
  min-width: 100px;
  text-align: center;
  border: 1px solid #bbb8b8;
  padding: 8px;
  font-size: 12px;
  font-family: "Roboto-Regular";
  cursor: pointer;
}

.gender ul li.selected {
  background-color: #316e03;
  color: white;
}

.gender ul li:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.gender ul li:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.text {
  text-align: left;
  font-size: 12px;
  margin-bottom: 10px;
  font-family: "Roboto-Regular";
  font-weight: bold;
}

.yes-no-block {
  margin-bottom: 10px;
}

.yes-no-block ul li {
  min-width: 80px;
  padding: 4px;
}

table {
  width: 100% !important;
  border-collapse: collapse;
  table-layout: auto;
  height: auto;
  display: inline-table !important;
  border: 0 !important;
  font-family: "Roboto-Regular";
}

table thead tr {
  height: 35px;
  display: table;
  width: 100%;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); */
}

table thead tr th {
  text-align: left;
  padding: 0px 15px 0px 15px;
  font-size: 13px;
  color: #000;
  position: relative;
  height: auto;
  border: 0;
  font-family: "Roboto-Medium";
}

table tbody {
  display: block;
  width: 100%;
}

table tbody tr {
  display: table;
  width: 100%;
  height: 35px;
  cursor: pointer;
}

table tbody tr td {
  text-align: left;
  padding: 0px 15px 0px 15px;
  font-size: 12px;
  color: #5e6265;
  font-weight: normal;
  height: auto !important;
  border: 0 !important;
}

table tbody tr td:last-child {
  padding: 0 10px 0 10px;
}

.edit-icon, .close-icon {
  font-size: 20px !important;
}

table tbody tr:hover {
  background-color: rgb(202 202 202 / 9%);
}

.edit-icon {
  margin-right: 10px;
  color: #0072bc;
  font-weight: bold;
}

.close-icon {
  color: #ee5050;
  font-weight: bold;
}

.adults {
  display: flex;
  justify-content: space-between;
  background: rgb(0 0 0 / 3%);
  padding: 4px 6px;
}

.adults div {
  display: flex;
  align-items: center;
}

.adults div span {
  font-size: 14px;
  margin-left: 6px;
  font-weight: bold;
  font-family: "Roboto-Regular";
}

.adults .add-btn {
  background: #0072bc;
  height: 26px;
  text-transform: capitalize !important;
  color: white;
  outline: 0;
  padding: 0 4px;
}

.adults .add-btn img {
  width: 20px;
  margin-right: 6px;
}

.adults .add-btn .txt-border {
  border: 2px dotted;
  padding: 0 3px;
  border-radius: 10px;
  margin-right: 6px;
}

.txt-border span {
  font-size: 15px;
}

/* .add-btn svg {
  font-size: 20px;
  margin-right: 4px;
} */

.add-btn:hover {
  background-color: #0072bc !important;
}

.a-table {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* common styles */

.common-header {
  height: 50px !important;
  border-radius: 0 !important;
  position: initial !important;
}

.common-header .logo-text {
  display: flex;
  align-items: center;
}

.common-header .logo-text img {
  margin: 0 !important;
  margin-right: 10px !important;
}

.common-header span {
  color: white;
  font-family: "Roboto-Light";
  font-size: 16px;
}

.common-header .navbar-collapse {
  margin-right: 0px !important;
  margin-top: 0px !important;
}

.common-header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 70% !important;
}

.common-header nav .nav-item a {
  display: flex;
  align-items: center;
}

/* Navigation flow styles */

.navigation-flow {
  max-width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

.navigation-flow img {
  width: 270px;
}

.navigation-flow .nav-items ul {
  display: flex;
  align-items: center;
}

.navigation-flow .nav-items ul li {
  font-size: 14px;
  margin-right: 20px;
  font-family: "Roboto-Medium";
  cursor: pointer;
}

.navigation-flow .nav-items ul li:last-child {
  margin-right: 0;
}

.nav-user {
  display: flex;
  align-items: center;
}

.nav-user .user-icon {
  width: 24px;
  margin-right: 5px;
}

/* .nav-user svg {
  color: #0072bc;
  margin-right: 5px;
  font-size: 20px;
} */

.MuiStepLabel-label.MuiStepLabel-alternativeLabel {
  height: 30px !important;
  line-height: 14px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10px;
}

.MuiStepLabel-completed span {
  color: #000000 !important;
  font-family: "Roboto-Bold";
}

.MuiStepLabel-active span {
  color: black;
}

.input-block .MuiSelect-icon {
  display: none !important;
}

.input-block .MuiSelect-select.MuiSelect-select {
  background-image: url("./views/images/select-dropdown.png");
  background-repeat: no-repeat;
  background-position: right 5px top 16px;
}

.back-icon {
  border: 2px dotted;
  border-radius: 20px;
  font-size: 20px;
  margin-right: 10px;
  transform: rotate(180deg);
}

.rotate-0 {
  transform: rotate(0deg);
  margin-right: 0;
  margin-left: 10px;
}

.MuiButton-root.MuiButton-contained.makeStyles-backButton-5:hover {
  background-color: #ee5050 !important;
}

.MuiButton-root.MuiButton-contained.makeStyles-nextButton-6:hover {
  background-color: #ee5050 !important;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained:hover {
  background-color: #ee5050 !important;
}

.about-origin {
  margin: 20px 0 0 0;
}

.about-origin .text {
  margin-bottom: 14px;
}

.label-width {
  width: 244px;
}

.about-date .MuiInputBase-adornedEnd button {
  outline: 0;
  right: -15px;
  position: relative;
}

.about-date label {
  color: black;
  width: 180px;
  font-size: 14px !important;
  font-family: "Roboto-Regular" !important;
}

/* .about-date .MuiFormControl-marginNormal {
  width: 100%;
} */

.MuiPickersCalendar-week button {
  outline: 0;
}

/* 
.about-date .MuiPopover-paper {
  left: 70% !important;
} */

.services-icon {
  font-size: 18px !important;
  position: relative;
  top: 1px;
}

/* modal css */

.header-modal {
  width: 94%;
  background: #0072bc;
  margin: auto;
  top: -20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0 4px 0;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
}

.header-modal .mh-img {
  width: 60px;
}

.header-modal svg {
  color: white;
  font-size: 50px;
  border: 2px solid white;
  border-radius: 40px;
  padding: 4px;
}

.header-text {
  position: relative;
  top: -14px;
}

.header-text h4 {
  font-size: 18px;
  color: black;
  font-family: 'Soleil-Regular';
}

.header-text p {
  font-size: 12px;
  color: black;
}

.modal-nav {
  height: calc(100% - 103px);
}

.modal-nav .new-user-steps .MuiStep-horizontal {
  padding: 0;
}

.modal-nav .new-user-steps .stper-pad {
  padding: 0px !important;
  background: #efe9e9;
}

.modal-nav .new-user-steps .MuiStepLabel-active {
  background: #ee5050 !important;
  color: #fff !important;
  border-radius: 4px !important;
}

.modal-nav .MuiStepLabel-label.MuiStepLabel-alternativeLabel {
  height: 40px !important;
  text-transform: uppercase;
  font-family: 'Roboto-Regular';
  top: 0;
  letter-spacing: 0px !important;
  font-size: 14px !important;
}

.profile-content {
  padding: 10px 44px 30px 44px;
  max-height: calc(100vh - 300px);
  overflow: auto;
  height: auto;
}

.profile-modal {
  height: 100%;
}

.nav-btns {
  /* display: flex;
  justify-content: space-between; */
  padding: 0 40px;
  /* position: relative;
  top: -30px; */
}

.icon-back {
  float: left;
}

.icon-forward {
  float: right;
}

.nav-btns img {
  background: #ee5050 !important;
  padding: 8px;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.nav-btns svg {
  background: #ee5050 !important;
  padding: 8px;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.contact-content .gender-block {
  flex-direction: column;
  align-items: flex-start !important;
}

.contact-content .gender-block label {
  margin-bottom: 14px;
}

.contact-content .gender ul li {
  min-width: 130px;
}

.cust-chebox {
  display: flex;
  align-items: center;
}

.signin-content .cust-chebox, .signin-content .cust-chebox span {
  padding-left: 0;
}

.signin-content .cust-chebox p {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Roboto-Regular";
  font-size: 14px;
  color: black;
}

.create-accnt {
  min-width: 120px!important;
  background: #ee5050 !important;
  position: relative!important;
  left: 50%;
  transform: translate(-70%, 0px);
  height: 40px;
  text-transform: capitalize!important;
  color: white!important;
  font-family: 'Soleil-Regular'!important;
  font-size: 16px!important;
  outline: 0 !important;
}

.create-accnt img {
  position: relative;
  left: -10px;
}

/* login page styles */

.login-account {
  box-shadow: 0px 0.5px 5px 0.5px rgb(0 0 0 / 55%);
  width: 60%;
  margin: 10% auto;
  padding: 0px 24px 60px 24px;
  border-radius: 8px;
}

.login-account .login-logo {
  display: flex;
  justify-content: center;
}

.login-logo img {
  width: 250px;
}

.login-container {
  background: white;
}

.login-view {
  display: flex;
  align-items: center;
}

.login-left, .login-right {
  width: 50%;
}

.login-left img {
  width: 90%;
}

.login-right h4 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto-Bold";
}

.login-right .input-form-fields {
  width: 90%;
  margin: auto;
}

.b-l {
  margin: auto;
}

.b-l:hover {
  background-color: #ee5050 !important;
  text-decoration: none;
  border-radius: 4px;
}

.btn-login {
  width: 260px;
  background-color: #ee5050 !important;
  margin: 0 auto !important;
  font-size: 16px !important;
  color: white !important;
  text-transform: capitalize !important;
  outline: 0 !important;
}

.links {
  margin-top: 40px;
  flex-direction: column;
  justify-content: center;
}

.links div {
  font-size: 12px;
  text-align: center;
}

.links .f-p {
  text-decoration: underline;
  color: BLACK;
  font-family: 'Soleil-Regular';
}

.footer {
  height: 30px;
  background-color: red;
}

.login-footer {
  height: 30px;
  background-color: #0072bc;
}

.welcome-txt {
  margin-bottom: 24px;
}

.welcome-txt p:first-child {
  font-family: "Soleil-Bold";
  font-size: 20px;
  color: black;
}

.welcome-txt p:last-child {
  font-size: 14px;
  color: black;
  font-family: 'Soleil-Regular';
}

.notifications {
  padding: 14px 0 20px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 2px rgba(248, 211, 212, 1);
  margin-bottom: 20px;
}

.notifications:last-child {
  margin-bottom: 0;
}

.notifications .about-header {
  padding: 0 14px;
}

.notifications .about-header span {
  padding: 5px 2px;
}

/* .notifications .about-header span img {
  width: 34px;
} */

.notifications .about-header h3 {
  font-family: 'Soleil-Light';
  font-weight: bold;
  letter-spacing: 0.5px;
}

.notifications table thead tr {
  background: #f8d3d4;
}

.saved-app table thead tr {
  background: #fef0df;
}

.submit-app table thead tr {
  background: #f0f7e6;
}

.width-auto {
  width: auto !important;
}

table thead tr th, tbody tr td {
  color: black !important;
  font-family: "Roboto-Regular";
  width: 130px;
}

/* .notifications table tbody td:nth-child(2) {
  text-align: center;
} */

.saved-icon {
  background-color: #fb8c00 !important;
}

.submit-icon {
  background-color: #8cc542 !important;
}

.saved-app {
  box-shadow: 0px 0px 4px 4px rgba(254, 240, 223, 1);
}

.submit-app {
  box-shadow: 0px 0px 4px 4px rgba(240, 247, 230, 1);
}

.dashboard {
  padding-bottom: 20px;
}

.dashboard .blocks-content {
  padding: 0;
  background-color: white;
  box-shadow: 0px 0.5px 5px 0.5px rgb(0 0 0 / 55%);
  border-radius: 8px;
}

.dashboard .documents .dash-box {
  background-color: white;
  display: flex;
  align-items: center;
}

.dashboard .documents .dash-box p {
  font-family: "Roboto-Medium";
  font-weight: bold;
}

.info-icon {
  color: #6b6d6d;
}

.dashboard-user {
  max-width: 70% !important;
  padding: 0 !important;
}

.adult-household {
  box-shadow: none !important;
  margin-bottom: 20px;
}

/*custom scrollbar*/

.profile-content::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.profile-content::-webkit-scrollbar-track {
  background-color: rgba(233, 233, 233, 0.5);
}

.profile-content::-webkit-scrollbar-thumb {
  background-color: #afafaf;
}

.floating_labels {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.floating-input {
  color: #000;
  width: 100%;
  height: 45px;
  font-size: 16px;
  outline: 0;
  border: 0px;
  border-bottom: 1px solid #9e9e9e;
  padding-top: 20px;
  padding-bottom: 0px;
  outline: 0;
  background-color: transparent;
}

.floating-input:focus {
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid #3f51b5;
}

.floating_labels label {
  position: absolute;
  left: 0px;
  top: 20px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  font-size: 14px !important;
  color: black !important;
  font-family: "Roboto-Regular" !important;
}

.floating-input:focus~label, .floating-input:valid~label {
  top: 0px;
  font-size: 12px !important;
  color: #000;
}

.children-btns .create-accnt {
  min-width: 120px !important;
}

.children-btns .create-accnt:first-child {
  margin-right: 12px;
}

.save-icon {
  border: 3px dotted white;
  border-radius: 10px;
  padding: 1px;
  font-size: 22px !important;
  position: relative;
  top: -2px;
  margin-right: 10px;
}

.n-table thead tr th :first-child, .n-table tbody tr td:first-child {
  width: 130px;
}

.n-table thead tr th :nth-child(2), .n-table tbody tr td:nth-child(2) {
  width: auto;
}

/*New app start */

.new-app-s {
  padding: 20px 24px;
}

.login-container {
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 0 12px -2px #999;
  margin: 50px auto;
  padding-bottom: 10px;
}

.heading-b {
  display: flex;
  padding: 0 0 20px 0;
  position: relative;
}

.heading-b>img {
  height: 52px;
  margin-right: 20px;
}

.heading-b h5 {
  font-size: 24px;
  padding-top: 10px;
  font-weight: bold;
  font-family: "Soleil-Bold";
}

.body-copy {
  padding-bottom: 10px;
}

.data-container {
  border-radius: 20px;
  box-shadow: 0 0 12px -2px #999;
  margin-top: 20px;
  padding: 20px;
}

.data-container>img {
  float: left;
  margin-right: 20px;
}

.data-container>h6 {
  font-weight: bold;
}

.heading-b .pad-t-0 {
  padding-top: 0;
  margin-top: -5px;
}

.fs17 {
  font-size: 17px;
}

.new-app-s ul {
  padding-bottom: 20px;
  padding-left: 5px;
}

.new-app-s ul li {
  background: url("./views/images/li.png") no-repeat left 18px;
  list-style: none;
  font-size: 17px;
  line-height: 40px;
  padding-left: 25px;
}

.benefits>h6 {
  font-weight: normal;
  color: #0072bc;
}

.new-app-s .yes-no-block ul li {
  background-image: none;
  padding-left: 0;
  line-height: 22px;
  border-radius: 3px;
}

.new-app-s .yes-no-block ul {
  padding-left: 0;
}

.new-app-s .yes-no-block ul li:hover {
  background-color: #316e03;
  color: white;
}

.assprogram {
  padding-left: 75px;
}

.btn-nxt {
  color: white;
  outline: none !important;
  font-family: "Roboto-Light";
  font-weight: bold;
  border-radius: 4px;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-color: #EE5050;
  padding: 6px 10px 6px 20px;
  min-width: 64px;
  border: 0;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  margin-bottom: 30px;
}

.btn-nxt img {
  width: 24px;
  margin-left: 14px;
}

.modal-container {
  max-width: 100% !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.m-0 {
  margin: 0 !important;
}

.about-date .MuiFormControl-marginNormal {
  width: 160px !important;
  /* margin: 0; */
}

.date-pick {
  flex-direction: column !important;
  align-items: flex-start !important;
  height: 50px;
  position: relative;
}

.date-pick label {
  font-size: 12px !important;
  color: black !important;
  font-family: "Roboto-Regular";
  margin-bottom: 0;
}

.adult-children {
  margin-top: -20px;
}

.phone-error .floating-input {
  border-bottom: 2px solid #f44336;
}

.phone-error span {
  color: #f44336;
  font-size: 12px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.phone-bg input {
  background-image: url('./views/images/phone-icon.png');
  background-repeat: no-repeat;
  background-position: right top 16px;
}

.r-address {
  flex-direction: column;
  align-items: flex-start !important;
}

.r-address label {
  text-align: left;
  font-size: 12px !important;
  margin-bottom: 14px;
  font-family: "Roboto-Regular" !important;
  font-weight: bold;
  width: 100%;
}